name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14 # Specify the Node.js version your app requires

      - name: Install dependencies
        run: |
          cd demo-app # Change to your Vue app directory
          npm install

      - name: Build Vue App
        run: |
          cd demo-app # Change to your Vue app directory
          npm run build

      - name: Copy files to EC2
        uses: appleboy/scp-action@v1.0.0 # Use a specific version
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "demo-app/dist/*"
          target: "/var/www/html"

      - name: SSH into EC2 and Restart Server
        uses: appleboy/ssh-action@v1.0.0 # Use a specific version
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /var/www/html
            pm2 restart demo-app
